html, body{
  margin: 0;
  width: 100%;
  height: 100%;

  background: #000000;

  -webkit-animation: gradientFade 30s ease infinite;
  -moz-animation: gradientFade 30s ease infinite;
  animation: gradientFade 30s ease infinite;

  @-webkit-keyframes gradientFade {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes gradientFade {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes gradientFade {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

#stripes{
  width: 100%;
  height: 100%;
}

.stripe{
  position: absolute;
  height: 100%;
}

.string{
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #1887CC;
  left: 38px;
}

.ball{
  position: absolute;
  width: 50%;
  padding-bottom: 50%;
  background-color: #1887CC;
  border-radius: 50%;
  bottom: 0%;
  left: 25%;
  transition: box-shadow .2s;
}

.ball.beat{
  background:#AA0000;
  -webkit-transform: scale(1.2);
  trasform: scale(1.2);
  box-shadow: red 0 0 30px 30px
}


.ball.move {
    background:white;
}
